/* About.css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .about-text {
    max-width: 500px; /* Adjust as needed */
    margin-right: 20px; /* Adjust spacing */
  }
  
  .about-image img {
    width: 200px; /* Adjust image size */
    height: auto;
    border-radius: 50%; /* Make the image round */
  }
  